@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

input,
textarea {
  border: 1px solid #989898;
  padding: 4px;
}

button {
  padding: 0.5rem 1rem;
  border: 1px solid #989898;
}
