@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

input,
textarea {
  border: 1px solid #989898;
  padding: 4px;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
}

textarea {
  resize: none;
  width: 100%;
}

input:disabled,
textarea:disabled,
select:disabled {
  border-color: transparent;
  background: transparent;
  appearance: none;
}

.view-label {
  font-weight: 600;
  margin: 4px;
  width: 125px;
}

.view-label + input {
  flex-grow: 1;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  width: fit-content;
  background: #14b8a6;
  color: #fff;
  transition-duration: 250ms;
}

.button:hover {
  background: #99f6e4;
  color: #232323;
}

.table-container {
  width: 100%;
  overflow: auto;
  font-size: 0.8rem;
}

.table-container table {
  width: 100%;
  min-width: 1000px;
  table-layout: auto;
}

.clickable {
  cursor: pointer;
  transition-duration: 150ms;
}

.clickable:hover {
  background: #99f6e4;
}

.comment-container {
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.comment h6 {
  font-weight: 600;
}
